.App {
  --background-primary-color: #eeeeeeee;
  --text-primary-color: black;
  --text-secondary-color: gray;
  
  &.dark {
    --background-primary-color: black;
    --text-primary-color: white;
    --text-secondary-color: gray;
  }
}
